{% extends "base.php.twig" %}
{% block navigation %}{% include "navigation.php.twig" %}{% endblock %}
{% block body %}

    <fieldset class="scheduler-border col-md-12">
        <legend class="scheduler-border"><h3><small>Search A Student (ID/Index/First Name/Last Name)</small></h3></legend>

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">Search</label>
                <div class="col-md-8">
                    <input type="text" class="form-control search">
                    <input type="hidden" class="selectedID">
                </div>
            </div>
            <style>
                .resultSummary tr th{
                    width: 100px !important;
                }
            </style>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <table class="table table-responsive table-bordered table-condensed resultSummary">
                        <tr><th>ID</th><td class="id"></td></tr>
                        <tr><th>Index</th><td class="index"></td></tr>
                        <tr><th>First Name</th><td class="fname"></td></tr>
                        <tr><th>Last Name</th><td class="lname"></td></tr>
                        <tr><th>Address</th><td class="addr"></td></tr>
                        <tr><th>Contact TP</th><td class="contact"></td></tr>
                        <tr><th>Email</th><td class="email"></td></tr>
                        <tr><th>Father's Name</th><td class="gname"></td></tr>
                        <tr><th>Parent TP</th><td class="gcontact"></td></tr>
                    </table>
                </div>
            </div>

        </div>
    </fieldset>

    <fieldset class="scheduler-border col-md-12 form1">
        <legend class="scheduler-border"><h3><small>Achievement</small></h3></legend>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-8">
                    <input type="text" name="name" class="form-control form-data">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-8">
                    <textarea class="form-control form-data" rows="3" name="description" style="resize: vertical; min-height:50px;"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Upload Photo</label>
                <div class="col-md-6">
                    <input type="text" name="photo" class="form-control form-data">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-block">Browse</button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Date</label>
                <div class="col-md-4 input-append input-group datetimepicker">
                    <input type="text" class="form-control form-data" disabled name="date" data-format="yyyy-MM-dd">
                    <span class="add-on input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <button class="btn btn-primary btn-block save">Save</button>
                </div>
            </div>
        </div>
    </fieldset>


{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.search').select();
            
            $('.datetimepicker').datetimepicker({pickTime: false, defaultDate: 'now'});

            $('.save').click(function () {
                saveAchievement();
            });

            function saveAchievement() {
                var form = $('.form1').formobject();
                if ($('.selectedID').val() !== "") {
                    form.id = $('.selectedID').val();
                    var conditions = {name: 'important', description: 'important'};
                    if ($('.form1').validate(conditions)) {
                        $.post('/student/achievement', {form: form}, function (e) {
                            if (e) {
                                $.notify.success("<b>Successfully Saved!</b>");
                            } else {
                                $.notify.error("<b>Failed!</b>");
                            }
                        }, 'json');
                    }
                } else {
                    $.notify.error("<b>Please Select a Student!</b>");
                }
            }


            $('.search').keyup(function (key) {
                typeahead($(this), $(this).val(), key, function () {
                    loadSearchSummary();
                });
            });

            function loadSearchSummary() {
                $.post('/student/getResult', {id: $('.selectedID').val()}, function (e) {
                    if (e !== undefined && e !== "0" && e !== 0) {
                        $('.id').html(e.ID);
                        $('.index').html(e.Index);
                        $('.fname').html(e.FirstName);
                        $('.lname').html(e.LastName);
                        $('.addr').html(e.Address);
                        $('.contact').html(e.ContactNumber);
                        $('.email').html(e.Email);
                        $('.gname').html(e.GuardianName);
                        $('.gcontact').html(e.GuardianContact);
                    }
                }, 'json');
            }

        });
    </script>
{% endblock %}
