
{% extends "base.invoice.twig" %}

{% block body %}

    <div class="header" > <h2> Milinda Chess Institute </h2> </div>

    <div class="header-info text-right ">
        <h2> Invoice Number: {{ pid }}</h2>
        <p> <span class="inv-label" > Date:</span> <span class="nowdate" ></span> </p>
    </div>
    
    <div class="body-info">
        <table class="table table-bordered">
            <thead> <tr> <td> Name  </td> <td> Amount </td>  </tr>  </thead>
            <tbody> <tr> <td> Class Fees </td>  <td> {{ amount }} </td>  <tr> </tbody>
        </table>
        
        <h3 class="text-right" >Total: {{ amount }}  </h3>
    </div>
    
{% endblock %}

{% block css %}

    <style>
        .header{
            border: 1px solid black;
            background-color:gray;
            color:white;
            padding:20px;
        }
       
        .inv-label{
            color:black;
            
        }
        
    </style>

{% endblock %}

{% block script %}

    <script>
        $('.nowdate').html(new Date().toDateString());
    </script>

{% endblock %}
