{% extends "base.php.twig" %}
{% block navigation %}{% include "navigation.php.twig" %}{% endblock %}
{% block body %}

    <fieldset class="scheduler-border col-md-12">
        <legend class="scheduler-border"><h3><small>Search A Student (ID/Index/First Name/Last Name)</small></h3></legend>

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">Search</label>
                <div class="col-md-8">
                    <input type="text" class="form-control search">
                    <input type="hidden" class="selectedID">
                </div>
            </div>
            <style>
                .resultSummary tr th{
                    width: 110px !important;
                }
            </style>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <table class="table table-responsive table-bordered table-condensed resultSummary">
                        <tr><th>ID</th><td class="id"></td></tr>
                        <tr><th>Index</th><td class="index"></td></tr>
                        <tr><th>First Name</th><td class="fname"></td></tr>
                        <tr><th>Last Name</th><td class="lname"></td></tr>
                        <tr><th>Address</th><td class="addr"></td></tr>
                        <tr><th>Last Payment</th><td class="lpd"></td></tr>
                    </table>
                </div>
            </div>

        </div>
    </fieldset>

    <fieldset class="scheduler-border col-md-12 form1">
        <legend class="scheduler-border"><h3><small>Payment</small></h3></legend>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Amount</label>
                <div class="col-md-4">
                    <input type="text" name="amount" class="form-control form-data">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Payment Month</label>
                <div class="col-md-4 input-append input-group datetimepicker">
                    <input type="text" class="form-control form-data" disabled name="paymentMonth" format="yyyy-MM">
                    <span class="add-on input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Comment</label>
                <div class="col-md-8">
                    <textarea class="form-control form-data" rows="3" name="comment" style="resize: vertical; min-height:50px;"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <button class="btn btn-primary btn-block save">Save</button>
                </div>
            </div>
        </div>
    </fieldset>

{% endblock %}

{% block script %}
    <script>
        $(function () {

            $('.datetimepicker input').val(getYearMonth(new Date()));

            $('.datetimepicker').datetimepicker({
                format: "yyyy-MM",
                viewMode: "months",
                minViewMode: "months"
            });

            $('.search').select();

            $('.save').click(function () {
                payment();
            });

            function payment() {
                var form = $('.form1').formobject();
                if ($('.selectedID').val() !== "") {
                    form.id = $('.selectedID').val();
                    var conditions = {amount: 'important|double'};
                    if ($('.form1').validate(conditions)) {
                        $.post('/student/payment', {form: form}, function (e) {
                            console.log(e);
                            if (e != '0') {
                                $.notify.success("<b>Successfully Saved!</b>");
                                form.pid = e;
                                cleartextbox();
                                $.redirectpost('/student/invoice', form);
                            } else {
                                $.notify.error("<b>Failed!</b>");
                            }
                        }, 'json');
                    }
                } else {
                    $.notify.error("<b>Please Select a Student!</b>");
                }
            }

            function cleartextbox() {
                $('input').each(function () {
                    $(this).val("");
                });
                $('textarea').each(function () {
                    $(this).val("");
                });
            }

            $('.search').keyup(function (key) {
                typeahead($(this), $(this).val(), key, function () {
                    loadSearchSummary();
                });
            });

            function loadSearchSummary() {
                $.post('/student/getResult', {id: $('.selectedID').val()}, function (e) {
                    if (e !== undefined && e !== "0" && e !== 0) {
                        $('.id').html(e.ID);
                        $('.index').html(e.Index);
                        $('.fname').html(e.FirstName);
                        $('.lname').html(e.LastName);
                        $('.addr').html(e.Address);
                        var lpm = (e.lpm === null) || (e.lpm === "") ? '' : getYearMonth(new Date(e.lpm));
                        $('.lpd').html(lpm);
                        if(e.lpm !== null){
                            $('.datetimepicker input').val(getYearMonth(new Date(lpm).addMonths(1)));
                        }
                        $('.datetimepicker').datetimepicker('update');
                    }
                }, 'json');
            }

        });
    </script>
{% endblock %}

