{% extends "base.php.twig" %}
{% block navigation %}{% include "navigation.php.twig" %}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-5">
            <fieldset class="scheduler-border col-md-12 form1">
                <legend class="scheduler-border"><h3><small>Register A Student</small></h3></legend>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">First Name</label>
                        <div class="col-md-8">
                            <input type="text" name="fname" class="form-control form-data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Last Name</label>
                        <div class="col-md-8">
                            <input type="text" name="lname" class="form-control form-data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Address</label>
                        <div class="col-md-8">
                            <textarea class="form-control form-data" rows="2" name="addr" style="resize: vertical; min-height:50px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Contact No</label>
                        <div class="col-md-8">
                            <input type="text" name="contact" class="form-control form-data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Email</label>
                        <div class="col-md-8">
                            <input type="text" name="email" class="form-control form-data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Upload Photo</label>
                        <div class="col-md-6">
                            <input type="text" name="photo" class="form-control form-data">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success btn-block"><i class="fa fa-link"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Guardian Name</label>
                        <div class="col-md-8">
                            <input type="text" name="gname" class="form-control form-data">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Guardian Contact No</label>
                        <div class="col-md-8">
                            <input type="text" name="gcontact" class="form-control form-data">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4">
                            <button class="btn btn-primary btn-block register">Register</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered jsstudent" style="margin-top: 38px;">
                <thead id="jsstudenthead">
                    <tr>
                        <th colspan="5" class="text-center">All Registered Students</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th style="width: 100px;">Student TP</th>
                        <th class="text-center" style="width: 40px;"><i class="fa fa-user"></i></th>
                        <th style="width: 100px;">Registerd</th>
                        <th class="text-center" style="width: 40px;"><i class="fa fa-edit fa-xs"></i></th>
                    </tr>
                </thead>
                <tbody id="jsstudentbody">

                </tbody>
            </table>
        </div>
    </dv>




{% endblock %}
{% block script %}
    <script>
        $(function () {
            
            getallstudents();
            $('input[name="fname"]').select();
            $(document).keydown(function (e) {
                if (e.keyCode === 13) {
                    register();


                }
            });
            $('.register').click(function () {
                register();
            });
            function getallstudents() {
                $.post('/student/getStudent', {index: 0}, function (data) {
                    var data = $.parseJSON(data);
                    var displaystring = "";
                    $.each(data, function (key, value) {
                        displaystring += '<tr>';
                        displaystring += '<td> ' + value.FirstName + " " + value.LastName + ' </td>';
                        displaystring += '<td> ' + value.ContactNumber + ' </td>';
                        displaystring += '<td> ' + value.PhotoURL + ' </td>';
                        displaystring += '<td> ' + value.RegisteredDate + ' </td>';
                        displaystring += '<td> ' + '<button class="btn btn-xs btn-default" id="viewstudent" data-id="' + value.ID + '"><i class="fa fa-edit"></i></button>' + ' </td>';

                        displaystring += '</tr>';
                    });

                    $('#jsstudentbody').html(displaystring);
                    $('.jsstudent').scrollTableBody({height: '500px'});

                });
            }

            function register() {
                var form = $('.form1').formobject();
                var conditions = {
                    fname: 'important|name', lname: 'important|name', addr: 'important|address',
                    contact: 'telephone', email: 'email', gname: 'important|name', gcontact: 'telephone'
                };
                if ($('.form1').validate(conditions)) {
                    $.post('register', {form: form}, function (e) {
                        if (e !== undefined && e !== "0" && e !== 0) {
                            $.notify.success("<b>Student Registered Successfully!</b>");

                            getallstudents();
                            cleartextbox();

                        } else {
                            $.notify.error("<b>Registration Failed! Verify Information Provided!</b>");
                        }
                    }, 'json');
                }
            }

            function cleartextbox() {
                $('input').each(function () {
                    $(this).val("");
                });
                $('textarea').each(function () {
                    $(this).val("");
                });
            }


        });
    </script>
{% endblock %}